@charset "UTF-8";
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: midnightblue;
        }
        header{
            background-color: beige;
            width: 60%;
            margin: 1px auto 10px auto;
            padding: 20px;
            box-shadow: 6px 6px #83d80c;
            border: 2px solid black;
        }
        nav{
            border: 2px solid black;
            padding: 10px;
            background-color: midnightblue;
        }
        .menu{ /*inline-level*/
            display:inline;
            color: #c0ef31;
            text-decoration: none;
            padding: 10px;
            margin-left: 1px;
        }
        .menu:hover{ /*inline-level*/
            display:inline;
            color: midnightblue;
            background-color: #c0ef31;
            text-decoration: none;
            padding: 10px;
            margin-left: 1px;
        }
        main{
            background-color: beige;
            width: 60%;
            margin: auto;
            padding: 20px;
            box-shadow: 6px 6px #83d80c;
            border: 2px solid black;
        }
        article{
            background-color: #c6e5e7;
            margin: 5px;
        }
        aside{
            background-color: rgb(132, 183, 185);
        }
        h1#título{ /*box-level*/
            background-color: midnightblue;
            color: #c0ef31;

            padding: 15px;

            margin: 1px auto 10px auto;
            
            outline-width: 3px;
            outline-style: dashed;
            outline-color: midnightblue;

            border: 2px solid beige; 

           /*
            border-width: 2px;
            border-style: solid;
            border-color: beige;
            */            

            /*
            Tem a mesma sequência utilizada nos borders acima, é um shorthand
            */

            /* 
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-right: 10px;

            margin: 10px 10px 10px 10px;
            */

            /*
            Se todos os lados forem iguais, basta que se coloque o valor uma única vez!
            Assim: margin: 10px;
            */

            /*
            margin: 10px 20px;
            
            Ficará 10px para top e bottom, e 20px para left e right.
            */            
        }
        h1{
            background-color: midnightblue;
            color: #c0ef31;
            text-align: left;
            padding: 2px;
        }
        h2{
            background-color: midnightblue;
            color: #c0ef31;
            text-align: left;
            padding: 2px;
        }
        p{
            text-indent: 15px;
            text-align: justify;
            padding: 5px;
        }
        
        table{
            border-collapse: collapse;
        }
        th{
            border-width: 2px; 
            border-style: dotted;             
            padding: 8px;
            background-color: midnightblue;
            color: #c0ef31;
            text-align: center;
        }
        td{         
            border-width: 2px;
            border-style: dotted;
            padding: 8px;
            background-color: honeydew;
            text-align: center;
        }
        p#footer{
            text-align: left;
        }
        footer{
            background-color: beige;
            width: 60%;
            margin: 0px auto 0px auto;
            padding: 20px;
            box-shadow: 6px 6px #83d80c;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            margin: 10px auto 30px auto;
        }